{% extends 'base.html.twig' %}

{% block title %}{{ produit.name }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12 col-md-3">
        <img src="{{ asset('images/produits/' ~ produit.imageName ) }}" alt="{{ produit.name }}" class="img-fluid">
    </div>
    <div class="col-12 col-md-9">
        <h1>{{ produit.name }}</h1>
        <p>Référence : {{ produit.reference }}</p>
        <div>{{ produit.description|raw }}</div>
    </div>
</div>


{% endblock %}