{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}
<h1>Nos produits</h1>
<p>Retrouvez ici tous nos produits</p>
<form action="" method="post" class="d-flex mb-4 align-items-end">
    <div class="form-group">
    <label for="">Rechercher</label>
    <input type="text" name="search" class="form-control">
    </div>
    <button type="submit" class="btn btn-dark ms-3">Rechercher</button>
</form>
<div class="row">
    {% for produit in produits %}
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div>
                <img src="{{ asset('images/produits/' ~ produit.imageName ) }}" class="card-img-top" alt="{{ produit.name }}">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ produit.name }}</h5>
                <p class="card-text">
                {% if produit.accroche is defined and produit.accroche is not null %}
                    {{ produit.accroche}}
                {% endif %}
                </p>
                <a href="{{ path('app_front_produit_detail', { id: produit.id })}}" class="btn btn-primary">Voir la fiche du produit</a>
            </div>
        </div>
    </div>
    {% else %}
    <p>Il n'y a aucun produit dans la base de données</p>
    {% endfor %}
</div>
{% endblock %}
