{% extends 'base-backend.html.twig' %}

{% block title %}
    Admin SiteWeb
{% endblock %}

{% block body %}
    <h1>
        Tableau de bord
    </h1>
    <div class="row">
        {# Utilisateur #}
        <div class="col-12 d-flex flex-wrap">
            <div class="col-12 col-md-6 px-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">
                                   <a href="{{ path('app_admin_user_index') }}">Utilisateurs</a> 
                                </h5>
                            </div>

                            <div class="col-auto">
                                <div class="stat text-primary">
                                    <i class="align-middle" data-feather="user"></i>
                                </div>
                            </div>
                        </div>
                        <h1 class="mt-1 mb-3">
                            {{ numUser }}
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 px-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">
                                    <a href="{{ path('app_admin_produit_index') }}">Produits</a>
                                </h5>
                            </div>

                            <div class="col-auto">
                                <div class="stat text-primary">
                                    <i class="align-middle" data-feather="archive"></i>
                                </div>
                            </div>
                        </div>
                        <h1 class="mt-1 mb-3">
                            {{ numProduit }}
                        </h1>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
