{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<h1>Mon profil</h1>
    {{ form_start(form) }}
    {{ form_widget(form)}}
    <button class="btn btn-dark" type="submit">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
