{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_row(form.accroche) }}
    {{ form_row(form.reference) }}
    {{ form_row(form.description) }}
    <div class="row">
    <div class="col-12 col-md-4">{{ form_row(form.dimension) }}</div>
    <div class="col-12 col-md-4">{{ form_row(form.colisage) }}</div>
    <div class="col-12 col-md-4">{{ form_row(form.poids) }}</div>
    </div>
    <div class="row">
    <div class="col-6">{{ form_row(form.madeInFrance) }}</div>
    <div class="col-6">{{ form_row(form.nouveaute) }}</div>
    </div>
    {{ form_row(form.categorie) }}
    {{ form_row(form.couleurs) }}
    {{ form_row(form.imageFile) }}
    <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
