{% extends 'base-backend.html.twig' %}

{% block title %}Edition Produit{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_produit_index') }}" class="btn btn-dark mb-4">Retour à la liste</a>
    <h1>Edition Produit</h1>

    {{ include('admin_produit/_form.html.twig', {'button_label': 'Modifier'}) }}


    {{ include('admin_produit/_delete_form.html.twig') }}
{% endblock %}
