{% extends 'base-backend.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>Produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Accroche</th>
                <th>Reference</th>
                {# <th>Description</th> #}
                <th>Dimension</th>
                <th>Colisage</th>
                <th>Poids</th>
                <th>MadeInFrance</th>
                <th>Nouveaute</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.name }}</td>
                <td>{{ produit.accroche }}</td>
                <td>{{ produit.reference }}</td>
                {# <td>{{ produit.description }}</td> #}
                <td>{{ produit.dimension }}</td>
                <td>{{ produit.colisage }}</td>
                <td>{{ produit.poids }}</td>
                <td>{{ produit.madeInFrance ? 'Oui' : 'Non' }}</td>
                <td>{{ produit.nouveaute ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_admin_produit_show', {'id': produit.id}) }}" class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_produit_edit', {'id': produit.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun produit présent dans la base de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_produit_new') }}" class="btn btn-success">Nouveau</a>
{% endblock %}
