{% extends 'base-backend.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_produit_index') }}" class="btn btn-dark mb-4">Retour à la liste</a>
    <h1>Nouveau Produit</h1>

    {{ include('admin_produit/_form.html.twig') }}

{% endblock %}
