{% extends 'base-backend.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ produit.name }}</td>
            </tr>
            <tr>
                <th>Accroche</th>
                <td>{{ produit.accroche }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ produit.reference }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Dimension</th>
                <td>{{ produit.dimension }}</td>
            </tr>
            <tr>
                <th>Colisage</th>
                <td>{{ produit.colisage }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ produit.poids }}</td>
            </tr>
            <tr>
                <th>MadeInFrance</th>
                <td>{{ produit.madeInFrance ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Nouveaute</th>
                <td>{{ produit.nouveaute ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_produit_index') }}">back to list</a>

    <a href="{{ path('app_admin_produit_edit', {'id': produit.id}) }}">edit</a>

    {{ include('admin_produit/_delete_form.html.twig') }}
{% endblock %}
