{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur notre site{% endblock %}

{% block body %}
<h1>Bienvenue sur notre site</h1>
<p>
    Vous êtes sur la page d'accueil de notre site. Vous pouvez naviguer sur notre site en utilisant le menu de navigation.
</p>
{% endblock %}
