<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="{{ path('app_admin') }}">
            <span class="align-middle">
                Site Web Admin
            </span>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages				
            </li>
            <li class="sidebar-item active">
                <a class="sidebar-link" href="{{ path('app_admin') }}">
                    <i class="align-middle" data-feather="sliders"></i>
                    <span class="align-middle">
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('app_admin_user_index') }}">
                    <i class="align-middle" data-feather="user"></i>
                    <span class="align-middle">
                        Utilisateurs
                    </span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('app_admin_produit_index') }}">
                    <i class="align-middle" data-feather="archive"></i>
                    <span class="align-middle">
                        Produits
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
