<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_front_home') }}">
            Site Web
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_front_home') }}">
                        Accueil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_front_produit')}}">
                        Produits
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Catégories
                    </a>
                </li>
                {% if app.user is not null %}
                <li class="nav-item">
                    <a href="{{ path('app_profil') }}" class="nav-link">
                        Profil
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a href="{{ path('app_admin') }}" class="nav-link">
                        Admin
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link">
                        Déconnexion
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ path('app_register') }}" class="nav-link">
                        Inscription
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_login') }}" class="nav-link">
                        Connexion
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
